{% extends "node.html.twig" %}

{% block content %}
	{{ attach_library("sdnn_theme/product-card") }}
	{{ content.field_image_media }}
	<h5 class="title">
		<a href="{{ url }}" rel="bookmark">{{ label }}</a>
	</h5>
{% endblock %}