{% extends "node.html.twig" %}

{% block content %}
	{{ attach_library("sdnn_theme/bannerv2") }}
	{{ content.field_image_media }}
	<div class="meta">
		<h3 class="title">
			<a href="{{ url }}" rel="bookmark">{{ label }}</a>
		</h3>
	</div>
{% endblock %}
