.region-footer-bottom {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
  text-align: center;
  justify-content: center;
  @include media-breakpoint-up(lg) {
    text-align: left;
    align-items: center;
  }

    #block-copyrights {
      flex: 0 0 100%;
      color: $color--link;
      font: $font-size--base $font--light;
      line-height: 1.5;
      @include media-breakpoint-up(md) {
        flex: 0 0 73%;
      }
    }

    .social-media-block {
      flex: 0 0 100%;
      line-height: 1.5;
      @include media-breakpoint-up(md) {
        flex: 0 0 25%;
      }

      .social-media-links--platforms {
        li {
            padding: .2em 20px;
          a {
            .fa-facebook {
              &:before {
                content: '\e912';
                font-size: $font-size--l;
                font-family: 'icomoon';
                color: $color--link;
                font-weight: bold;
              }
              &:hover {
                &:before {
                  color: $color--hover;
                }
              }
            }

            .fa-instagram {
              &:before {
                content: '\e90c';
                font-size: $font-size--l;
                font-family: 'icomoon';
                color: $color--link;
                font-weight: bold;
              }
              &:hover {
                &:before {
                  color: $color--hover;
                }
              }
            }

            .fa-twitter {
              &:before {
                content: '\e910';
                font-size: $font-size--l;
                font-family: 'icomoon';
                color: $color--link;
                font-weight: bold;
              }
              &:hover {
                &:before {
                  color: $color--hover;
                }
              }
            }

            .fa-youtube {
              &:before {
                content: '\e918';
                font-size: $font-size--l;
                font-family: 'icomoon';
                color: $color--link;
                font-weight: bold;
              }
              &:hover {
                &:before {
                  color: $color--hover;
                }
              }
            }
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
}
