/**
*********************
* Colors
********************
**/

/* Brand Colors */

$color--white:#fff;
$color--black:#000;
$color--button:#ED5B2F;
$color--orange:#ED5B2F;
$color--primary:#131313;
$color--secondary:#4D5B69;
$color--background:#EAF4FF;
$color--background-hover:#1E85E8;
$color--button--hover: #1E65EB;
$color--footer:#002E56;
$color--link:#BBCBDD;
$color--button-hover:#fa3a00;
$color--contact-hover:#0072e0;
$color--menu:#2d5780;
$color--hover: #1E85E8;
$color--banner-background: #00284B;
$color--thumbnail-text: #D6E2ED;
$color--pale-orange: #F0C7B1;
$color--pale-blue: #A2C8E3;
$color--pale-yellow: #E3DCA2;
$color--pale-pink: #E3A2B1;
$color--light-blue:#A2E3E3;
$color--aqua-light: #EAF4FF;
$color--grey--light: #8D959D;
$color--more-link: #00C2F3;
$color--timeline-year: #023873;
$color--error-desc: #595F69;
$color--light-orange:#EB7474;
$color--light-green: #6EBA88;
$color--table-odd: #ededed;
$color--table-even: #d2d2d2;
$color--pencil-bg: #ccc;
