{% extends "page.html.twig" %}

{% block content %}
<div class="page-404 container">
	<h2> 404 Not Found </h2>
	<h4>
		The resource specified was not found.
	</h4>
	<h4>
		Please click <a href='/'>here </a> to go back to the site
	</h4>
</div>
{% endblock %}