{% extends "page.html.twig" %}

{% block content %}
  {{ attach_library("sdnn_theme/login") }}
  <div class="container">
    <div class="user-login">
      {{page.content}}
    </div>
  </div>
{% endblock %}