{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 */
#}

<!--begin modal window-->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <div id="myGallery" class="carousel slide" data-interval="false">
          <div class="carousel-inner">
            {% for row in rows %}
              <div class="carousel-item {{ loop.first ? "active" }}">
                {{- row.content -}}
              </div>
            {% endfor %}
            <a class="carousel-control-prev" data-slide="prev" href="#myGallery" role="button"><span class="icon icon-left-arrow"></span></a>
            <a class="carousel-control-next" data-slide="next" href="#myGallery" role="button"><span class="icon icon-right-arrow"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
