@import "../../settings/settings";

.node--view-mode-banner-v2 {
  position: relative;
  margin-bottom: 20px;

  .meta {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 48px 16px 16px;
    text-align: center;
    background: $gradient;

    * {
      color: var(--color--white);
    }
  }

  .title {
    font-size: $font-size--xxl;
  }
}
