@import "../../settings/settings";
@import "../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";

.node--view-mode-embed {
  @include media-breakpoint-up(md) {
    padding: 26px 14px 26px 36px;
  }

  display: inline-block;
  max-width: 550px;
  margin-bottom: 32px;
  padding: 26px 30px 30px;
  border-left: 8px solid var(--color-primary);
  border-radius: 4px;
  background-color: var(--color--smoky-grey);

  h6 {
    margin-bottom: 14px;
    font: $font-size--base $font-lato--semibold;
  }

  .title {
    margin-bottom: 10px;
    color: var(--color-primary);
    font: $font-size--xxl $font-lato--bold;
  }

  p {
    margin-bottom: 5px;
  }

  .button {
    @include button_filled();
  }
}
