{#
  Contact information block template
#}

<section class="contact-wrapper layout-container" >
  <div class="contact-info">
    <div class="contact-info__address">
      <div class="content">
        <div class="heading">Address</div>
        {{ content.field_address }}</div>
    </div>
    <div class="contact-info__email">
      <div class="content">
        <div class="heading">Email</div>
        {{ content.field_email }}</div>
    </div>
    <div class="contact-info__phone">
      <div class="content">
        <div class="heading">Phone</div>
        {{ content.field_phone }}</div>
    </div>
    <div class="contact-info__fax">
      <div class="content">
        <div class="heading">Fax</div>
        {{ content.field_fax }}</div>
    </div>
  </div>
</section>
