<div class="track-dies__item">
  <div class="track-dies__image">
    {{content.field_product_images}}
  </div>
  <div class="track-dies__action">
    <a href="mailto:info@briteline.net?subject=Question About Briteline Standard Die{{content.field_image_title}}" class="button button--reverse"
      target="_blank">Ask About {{content.field_image_title}}</a>
  </div>
</div>
