<div class="product__detail">
  <div class="product__title">
    {{ label }}
  </div>
  <div class="track-dies-section">
    <div class="layout-container">
      {{ content.field_product_images }}
    </div>
  </div>
</div>
