{#
/**
 * @file
 * Theme override for fields.
 */
#}

{% set classes = [
  'field',
  field_name|clean_class,
  field_type|clean_class,
] %}

<div{{ attributes.addClass(classes) }}>
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
</div>
